body {
    font-family: Arial, sans-serif;
  }
  
  .jumbotron {
    background-color: grey;
  }
  
  .card {
    margin-bottom: 20px;
  }
  body {
    font-family: Arial, sans-serif;
  }
  .btn-outline-dark {
    background-color: #ffffff; /* Couleur Discord */
    margin-bottom: 10px; /* Espace entre le bouton et le copyright */
    margin-left: -47.5rem;
  }
  .btn-outline-dark:hover {
    background-color: #5a6db2; /* Couleur au survol */
    border-color: #5a6db2;
  }
